* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

button {
    padding: 4px 15px;
}

hr {
    color: #fff;
}

h2 {
    text-transform: uppercase;
    color: #242b2c;
}

body {
    font-family: 'ABeeZee', sans-serif;
}


/*-------------Header-----------*/

.header {
    background-image: url(images/slider.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
}

.slider {
    position: relative;
    top: 50vh;
}

.header h1 {
    margin:0;
    text-align: center;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    display: inline-block;
    color: #fff;
    padding: 10px 0;
    font-size: 50px;
}

.header button {
    display: block;
    margin: 0 auto;
    margin-top: 60px;
    background:  rgba(255, 255, 255, 0);
    border: 2px solid #fff;
    color: #fff;
    padding: 10px 30px;
    cursor: pointer;
}



/*------ Navbar ------*/

.navbar {
    background-color: #252f31;
    overflow: hidden;
    padding: 10px 0;
    
}

.navbar .logo {
    float: left;
    text-transform: uppercase;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
}

.navbar .navmenu {
    float: right;
}

.navbar .navmenu ul {
    list-style-type: none;
}

.navbar .navmenu ul li {
    float: left;
    margin-right: 10px;
}

.navbar .navmenu ul li a {
    text-decoration: none;
    color: #fff;
}

.navbar .navmenu ul li a:hover {
    text-decoration: none;
    color: #3add80;
}

/*------ Cards ------*/

.cards .card {
    width: 33.3333333333333%;
    float: left;
    padding: 60px 20px;
}

.cards .card h2 {
    color: #51595b;
    margin-bottom: 25px;
}

.cards .card p {
    color: #a3a3a3;
}


/* About Me */

.about-me {
    background-color: #f2f2f2;
    overflow: hidden;
}

#about-me-img {
    float: left;
    width: 40%;
}

.about-me-content {
    padding: 40px;
    float: left;
    width: 60%;
}

.about-me-content h2 {
    margin-bottom: 25px;
    color: #51595b;
}

.about-me-content p {
    color: #a3a3a3;
}

.about-me-cards {
    margin-top: 50px;
}

.about-me-card {
    float: left;
    width: 50%;
    margin: 10px 0;
}

.about-me-card img {
    float: left;
    margin-right: 15px;
    width: 20%;
}

.about-me-card h2 {
    margin-bottom: 10px;
}

/*------ My Skills ------*/

.my-skills {
    padding: 40px 0;
    overflow: hidden;
}


.my-skills .my-skills-left {
    float: left;
    width: 50%;
    padding-right: 30px;
}

.my-skills .my-skills-left h2 {
    margin-bottom: 15px;
}

.my-skills .my-skills-left p {
    margin-bottom: 20px;
}

.my-skills .my-skills-left button {
    background-color: #fff;
    outline: 1px solid #2dcc70;
    color: #2dcc70;
    outline-offset: -2px;
    border: 0;
    padding: 10px 30px;
    transition: 0.2s;
}

.my-skills .my-skills-left button:hover {
    cursor: pointer;
    background-color: #6bd6a2;
    color: #fff;
}

.my-skills .my-skills-right {
    float: right;
    width: 50%;
    padding-left: 30px;
}

.my-skills .my-skills-right label {
    display: block;
    margin-bottom: 5px;
}

.my-skills .my-skills-right progress {
    width: 100%;
    margin-bottom: 20px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #f2f2f2;
    border: 0;
    height: 20px;
}

.my-skills .my-skills-right progress::-moz-progress-bar {
    background: #2dcc70;
}



/*------ Resume ------*/

.resume {
    text-align: center;
    padding: 50px 0;
    background-color: #f2f2f2;
}

.resume h2 {
    margin-bottom: 30px;
}


.resume p {
    margin-bottom: 30px;
    color: #a3a3a3;
}

.resume button{
    background-color: #f2f2f2;
    outline: 1px solid #2dcc70;
    color: #23b861;
    outline-offset: -2px;
    border: 0;
    padding: 15px 30px;
    transition: 0.2s;
}

.resume button:hover {
    cursor: pointer;
    background-color: #3eac76;
    color: #fff;
}

/*------ My Education ------*/


.my-education {
    padding: 50px 0;
    overflow: hidden;
}

.my-education .my-education-left {
    float: left;
    width: 50%;
    padding-right: 50px;
}

.my-education .my-education-left h2 {
    margin-bottom: 20px;
}

.my-education .my-education-left p {
    color: #a3a3a3;
}

.my-education .my-education-right {
    float: right;
    width: 50%;
}

.my-education .my-education-right h3 {
    margin-bottom: 10px;
    margin-top: 50px;
}

.my-education .my-education-right small {
    color: #a3a3a3;
    display: block;
}

.my-education .my-education-right #edu-gpa {
    background-color: #2dcc70;
    display: inline-block;
    padding: 4px 8px;
    color: #fff;
    margin-bottom: 10px;
}

.my-education .my-education-right p {
    margin-top: 10px;
    color: #a3a3a3;
}


.work-exp {
    padding: 50px 0;
    overflow: hidden;
}

.work-exp .work-exp-left {
    float: left;
    width: 50%;
    padding-right: 50px;
}

.work-exp .work-exp-left h2 {
    margin-bottom: 20px;
}

.work-exp .work-exp-left p {
    color: #a3a3a3;
}

.work-exp .work-exp-right {
    float: right;
    width: 50%;
}

.work-exp .work-exp-right h3 {
    margin-bottom: 10px;
    margin-top: 50px;
}

.work-exp .work-exp-right small {
    color: #a3a3a3;
    display: block;
}

.work-exp .work-exp-right #edu-gpa {
    background-color: #2dcc70;
    display: inline-block;
    padding: 4px 8px;
    color: #fff;
    margin-bottom: 10px;
}

.work-exp .work-exp-right p {
    margin-top: 10px;
    color: #a3a3a3;
}


/*------ Quotes ------*/

.quotes {
    text-align: center;
    background-color: #f2f2f2;
    padding: 50px 0;
}

.quotes p {
    margin-bottom: 20px;
}

.quotes p:nth-child(1) {
    font-style: italic;
}

.quotes p:nth-child(2) {
    font-weight: bold;
}

.quote {
    width: 100%;
    padding: 0 150px;
}

/* Portfolio */

.portfolio {
    text-align: center;
    padding: 50px 0;
}

.portfolio h2 {
    margin-bottom: 30px;
}

.portfolio p {
    color: #a3a3a3;
    margin-bottom: 60px;
}

.portfolio-gallery {
    text-align: center;
}

.portfolio-gallery img {
    margin: 10px;
}

/*------ Contact Me ------*/

.contact-me {
    background-color: #252f31;
    padding: 50px 0;
    overflow: hidden;
}

.contact-me .contact-me-left {
    float: left;
    width: 50%;
    padding-right: 30px;
}

.contact-me-left h2 {
    color: #fff;
    margin-bottom: 20px;
}

.contact-me-left p {
    color: #a3a3a3;
    margin-bottom: 30px;
}

.contact-me-left span {
    display: block;
    color: #a3a3a3;
}

.contact-me .contact-me-right {
    float: right;
    width: 50%;
    padding-left: 30px;
}
.contact-me-right label {
    display: block;
    color: #fff;
    margin: 20px 0 5px 0;
}

.contact-me-right input {
    display: block;
    padding: 2px 5px;
    width: 100%;
    background-color: #4b5557;
    color: #fff;
    border: 0;
    border-radius: 1px;
    height: 40px;
}

.contact-me-right textarea {
    padding: 2px 5px;
    background-color: #4b5557;
    color: #fff;
    border: 0;
    border-radius: 2px;
    display: block;
    margin-bottom: 20px;
    width: 100%;
    height: 200px;
}

.contact-me-right button {
    color: #fff;
    background-color: #191e22;
    border: 0;
    padding: 10px 25px;
    cursor: pointer;
}

/*------ footer ------*/


.footer {
    text-align: center;
    background-color: #191e22;
    padding: 50px 0;
    color: #4c5658
}

.footer p {
    margin-bottom: 20px;
    color: #4c5658;
}

.footer a {
    color: #4c5658;
    text-decoration: none;
    margin-right: 5px;
    transition: 0.2s;
}


.footer a:hover {
    color: #b7cdd1;
}


