html {
    scroll-behavior: smooth;
}

/* Navbar Start */
.nav-tabs .nav-link {
    border: 0;
    border-radius: 0;
}

.nav-tabs .nav-link.active {
    background-color: #e25050;
}

.navbar {
    background-color: #202020;
}

.navbar-brand {
    color: #fff;
    font-weight: bold;
    font-family: "Oswald", sans-serif;
    font-size: 30px;
}

.nav-link {
    color: #fff !important;
    margin: 0 10px;
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    transition: all ease-in-out 0.2s;
    padding: 10 30px;
    border: 0;
}

.nav-item {
    transition: all ease-in-out 0.2s;
    border: 0;
}

.nav-item.active {
    background-color: #e25050;
}

.phone-number {
    position: absolute;
    background-color: #e25050;
    color: #fff;
    right: 130px;
    z-index: 3;
    padding: 5px 15px;
}

@media (max-width: 991px) {
    .phone-number {
        display: none;
    }
}

/* Navbar End */

/* Slider Start */

.carousel-item img {
    height: 600px;
    object-fit: cover;
    position: relative;
}

.carousel-caption {
    position: absolute;
    text-align: left;
}

@media (min-width: 768px) {
    .carousel-caption {
        top: 40%;
        left: 150px;
    }
}

@media (max-width: 767px) {
    .carousel-caption {
        bottom: 0;
        left: 50%;
        text-align: center;
        display: block !important;
        transform: translateX(-50%);
        width: 100%;
    }
}

.carousel-caption h2 {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 20px;
    display: inline-block;
    margin-bottom: 1px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Oswald", sans-serif;
}

.carousel-caption p {
    background-color: rgba(0, 0, 0, 0.8);
    display: inline-block;
    padding: 10px 20px;
    font-family: "Oswald", sans-serif;
}

/* Slider End */

/* Welcome-Section Start */

.welcome {
    padding: 50px 0;
}

.welcome h3 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: "Oswald", sans-serif;
}

.welcome .container > p {
    color: #777;
    font-style: italic;
    text-align: center;
    margin-bottom: 40px;
}

.welcome h3 span {
    color: #e25050;
}

.welcome-card h4 {
    font-family: "Oswald", sans-serif;
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: bold;
}

.welcome-card h4 svg {
    color: #e25050;
    margin-right: 5px;
}

.welcome-card p {
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    color: #777;
}

/* Welcome-Section End */

/* Trainers-Section Start */

.trainers {
    background-color: #202020;
    color: #fff;
    padding: 50px 0;
}

.trainers h3 {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    display: inline-block;
    margin-bottom: 40px;
}

.trainers h3:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 25%;
    padding-top: 5px;
    border-bottom: 1px solid #777;
}

.trainers-card {
    border-radius: 0;
    color: #000;
    border: 0;
    margin-bottom: 20px;
}

.trainers-card img {
    border-radius: 0;
    object-fit: cover;
}

.trainers-card .card-title {
    font-family: "Oswald", sans-serif;
    margin-bottom: 0;
    text-transform: uppercase;
}

.trainers-card .card-text {
    font-family: "Open Sans", sans-serif;
    color: #777;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 0;
}
/* Trainers-Section End */

/* Our Gallery Section Start */

.our-gallery {
    padding: 50px 0;
}

.our-gallery h3 {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    display: inline-block;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.our-gallery h3:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 25%;
    padding-top: 5px;
    border-bottom: 1px solid #000;
}

.our-gallery p {
    color: #777;
    margin-bottom: 30px;
}

.the-gallery {
    flex-wrap: wrap;
}

.the-gallery img {
    width: 100%;
    padding: 5px;
}

@media (min-width: 576px) {
    .the-gallery img {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .the-gallery img {
        width: 50%;
    }
}

@media (min-width: 992px) {
    .the-gallery img {
        width: 25%;
    }
}

/* Our Gallery Section End */

/* Plans Start */

.plans {
    background-color: #e25050;
}

.plans h3 {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    display: inline-block;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.plans h3:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 25%;
    padding-top: 5px;
    border-bottom: 1px solid #fff;
}

.plans-card {
    display: flex;
    background-color: #d14343;
    align-items: center;
    color: #fff;
    padding: 20px 10px;
    transition: all ease-in-out 0.2s;
    margin-bottom: 20px;
}

.plans-card:hover {
    background-color: #e25050;
    border: 1px solid #fff;
}

.plan-name {
    text-align: center;
    border-right: 1px solid #f08888;
    font-size: 24px;
    padding: 0 10px;
    font-family: "Oswald", sans-serif;
}

.plans-card svg {
    display: block;
    margin: 0 auto;
}

.plan-name > span {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    display: block;
    margin-top: 10px;
}

.plan-name p {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 0;
}

.plan-name p sup {
    font-size: 12px;
}

.plan-features {
    margin-bottom: 0;
    list-style-type: disc;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    text-align: left;
}
/* Plans End */

/* Partners-Section Start */

.partners h3 {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    display: inline-block;
    margin-bottom: 50px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
}

.partners h3:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 25%;
    padding-top: 5px;
    border-bottom: 1px solid #000;
}

/* Partners-Section End */

/* Footer Start */

footer {
    background-color: #202020;
    color: #fff;
}

footer .tweets svg {
    margin-right: 10px;
}

footer .social {
    border-bottom: 1px solid #3a3a3a;
    padding-bottom: 30px;
    flex-wrap: wrap;
}

footer .social-icons a {
    margin: 0 5px;
    color: #fff;
    transition: all ease-in-out 0.1s;
}

footer .social-icons a:hover {
    color: #e25050;
}

.contact {
    padding: 40px 0;
}

.contact svg {
    margin-right: 12px;
}

.contact form {
    width: 100%;
}

footer h3 {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 24px;
}

.form-inputs {
    justify-content: space-between;
}

.form-inputs input {
    width: 33%;
    color: #ccc;
    background-color: #202020;
    border: 1px solid #777;
    border-radius: 3px;
    padding: 5px 10px;
    margin-bottom: 10px;
    font-family: "Oswald", sans-serif;
}

@media (max-width: 768px) {
    .form-inputs {
        flex-direction: column;
    }
    .form-inputs input {
        width: 100%;
    }
}

footer form textarea {
    width: 100%;
    height: 150px;
    color: #ccc;
    background-color: #202020;
    border: 1px solid #777;
    border-radius: 3px;
    padding: 5px 10px;
    margin-bottom: 10px;
    font-family: "Oswald", sans-serif;
}

footer form button {
    background-color: #e25050;
    color: #fff;
    width: 100%;
    border: 1px solid #d14343;
    padding: 5px 0;
    border-radius: 3px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
}

.copyrights {
    font-family: "Oswald", sans-serif;
    border-top: 1px solid #3a3a3a;
    padding-top: 20px;
}

/* Footer End */

/* Extras */

#to-top {
    position: fixed;
    bottom: -100px;
    right: 20px;
    display: block;
    padding: 5px 15px;
    background-color: #e25050;
    font-size: 28px;
    color: #fff;
    transition: all ease-in-out 0.5s;
    border: 1px solid #fff;
    border-radius: 5px;
    outline: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
