$c1: #61797b;
$light-grey: #fafafa;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Hind Siliguri", sans-serif;
}

// Navbar
nav {
    background-color: #f2f2f2;
}

.search-form {
    display: flex !important;
    input[type="text"] {
        height: 30px;
        margin: 0;
        padding: 0 15px;
        border-bottom-left-radius: 25px;
        border-top-left-radius: 25px;
        border: 1px solid #ced4da;
        border-right: 0;
        font-size: 14px;
    }

    input:focus {
        border-color: #ced4da;
        box-shadow: 0 0 0;
    }

    button {
        margin: 0;
        outline: 0;
        border: 0;
        background-color: #fff;
        height: 30px;
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
        padding: 0 10px;
        border: 1px solid #ced4da;
        border-left: 0;
    }
}

.nav-menu-2 {
    li {
        margin: 0 10px;
    }

    .cart {
        position: relative;
        .badge {
            position: absolute;
            top: 5px;
            right: 0;
            border-radius: 50%;
            width: 14px;
            height: 14px;
            font-size: 10px;
            line-height: 14px;
            padding: 0;
        }
    }
}

/* Main Slider */

body {
    background-color: $light-grey;
}

.section-title {
    margin-bottom: 30px;
    display: inline-block;
    text-align: center;

    hr {
        width: 50%;
        margin: 10px auto;
        background-color: $c1;
        height: 3px;
        border-radius: 3px;
    }
}

#main-carousel {
    .carousel-item {
        height: 500px;
        position: relative;
        text-align: center;
        background-color: $c1;

        .bg-left {
            background: $light-grey;
            width: 50%;
            position: absolute;
            left: 0px;
            height: 100%;
            z-index: 1;
        }

        .bg-right {
            background: $c1;
            width: 50%;
            position: absolute;
            right: 0px;
            height: 100%;
            z-index: 1;
        }

        .carousel-text {
            position: relative;
            z-index: 2;
            margin-top: 20px;
            color: $c1;

            h2 {
                font-size: 60px;
                margin-left: 40px;
            }
            p {
                font-size: 28px;
                margin-right: 25px;
            }
            span {
                color: $light-grey;
            }
        }

        .carousel-btn {
            display: block;
            margin: auto;
            margin-top: 20px;
            position: relative;
            z-index: 2;
            border: 0;
            outline: 0;
            background-color: #435652;
            color: $light-grey;
            padding: 5px 15px;

            i {
                font-size: 14px;
            }
        }

        img {
            width: 50%;
            position: relative;
            margin-top: 20px;
            z-index: 2;
        }
    }

    .carousel-indicators {
        margin-right: 40%;

        li {
            background-color: #aaaaaa;
        }

        li.active {
            background-color: #435652;
        }
    }
}

@media (max-width: 576px) {
    #main-carousel {
        .carousel-item {
            .carousel-text {
                position: relative;
                z-index: 2;
                margin-top: 20px;
                color: $c1;

                h2 {
                    font-size: 40px;
                    margin-left: 20px;
                }
            }

            img {
                width: 80%;
                position: relative;
                margin-top: 20px;
                z-index: 2;
            }

            .carousel-btn {
                margin-top: 80px;
            }
        }
        .carousel-indicators {
            margin-right: 50%;

            li {
                background-color: #aaaaaa;
            }

            li.active {
                background-color: #435652;
            }
        }
    }
}
/* Categories */

.categories {
    padding: 50px 0;
    text-align: center;

    .carousel-indicators {
        position: relative;
        margin: 0;
        margin-top: 15px;
        padding: 0;

        li {
            background-color: #a1a1a1;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            outline: 0;
        }

        li.active {
            background-color: $c1;
        }
    }
}
.categories-grid {
    display: grid;
    grid-template-columns: 35% 30% 35%;
    grid-template-rows: 55% 45%;
    column-gap: 10px;
    row-gap: 10px;
    height: 550px;

    > div {
        background-color: #ccc;
        text-align: center;
        color: #fff;
        position: relative;
        cursor: pointer;
        h4 {
            position: absolute;
            bottom: 0;
            left: 0;
            margin: 0 0 20px 20px;
            z-index: 3;
            opacity: 0;
            transition: 0.3s linear opacity;
        }
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    > div:hover .overlay,
    div:hover h4 {
        opacity: 1;
    }

    #div1 {
        grid-row: 1/3;
    }

    #div4 {
        grid-column: 2/4;
    }

    .overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: 0.3s linear opacity;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            color: #fff;
            display: block;
            text-decoration: none;
            border: 1px solid #fff;
            padding: 8px 20px;

            i {
                width: 0;
                margin: 0 5px 0 10px;
            }
        }
    }
}

.offers-section {
    background-image: linear-gradient(
        to top,
        rgb(230, 230, 230, 0.1),
        rgb(163, 163, 163)
    );
    padding: 100px 0;

    h5 {
        color: $c1;
        margin-bottom: 30px;
        font-size: 40px;
        font-weight: lighter;
    }

    h4 {
        color: #fff;
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 30px;
    }

    button {
        border: 0;
        outline: 0;
        background-color: #435652;
        color: $light-grey;
        padding: 5px 15px;
    }
}

.offer-img img {
    width: 100%;
}

@media (max-width: 576px) {
    .offers-section {
        background-image: linear-gradient(
            to top,
            rgb(230, 230, 230, 0.1),
            rgb(163, 163, 163)
        );
        padding: 50px 0;
    }
    .offer-img img {
        margin-top: 50px;
    }
}

/* Product Cards */

.best-selling {
    padding: 100px 0;
    text-align: center;

    .carousel-indicators {
        position: relative;
        margin: 0;
        margin-top: 15px;
        padding: 0;

        li {
            background-color: #a1a1a1;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            outline: 0;
        }

        li.active {
            background-color: $c1;
        }
    }
}

.products-cards {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    .card {
        width: 29%;
        margin: 0 20px;
        border: 0;
        position: relative;

        img {
            width: 100%;
            height: 400px;
            object-fit: cover;
            border: 1px solid #e4e4e4;
        }

        .new-badge {
            position: absolute;
            top: 10px;
            left: 10px;
            border-radius: 0;
            font-size: 16px;
            padding: 5px 10px;
        }
        .heart {
            position: absolute;
            top: 5px;
            right: 15px;
            cursor: pointer;
            color: #616161;
            font-size: 20px;
            transition: 0.1s linear all;
        }

        .heart.liked {
            color: #f82d41;
        }

        .card-title {
            margin: 0;
            margin: 5px 0;
        }

        .card-body {
            background-color: $light-grey !important;
            padding: 5px 0;
        }
        p {
            padding: 0;
            margin: 0;
        }

        .original-price {
            text-decoration: line-through;
            font-weight: bold;
            color: #686868;
        }

        .current-price {
            display: inline-block;
            margin-right: 5px;
            font-weight: bold;
            color: #d31e1e;
        }

        .discount-badge {
            border-radius: 0;
            font-size: 12px;
            padding: 4px 6px;
        }
    }
}

@media (max-width: 576px) {
    .products-cards {
        .card {
            width: 100%;
            margin: 0 20px;
            border: 0;
            position: relative;
        }
    }
}

/* Subscribe Section */

.subscribe {
    padding: 100px 0;
}

.sub-img {
    height: 400px;
    overflow: hidden;
    width: 50%;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.sub-content {
    background-color: #e7e7e7;
    width: 50%;
    padding: 70px;
    justify-content: right;

    h3 {
        color: #435652;
        font-weight: bold;
        font-size: 40px;
        margin-bottom: 5px;
    }

    h4 {
        margin-bottom: 25px;
        font-size: 20px;
        color: #a5a5a5;
    }
}

.sub-form {
    input,
    button {
        outline: 0;
        border: 0;
        margin: 0;
        padding: 0;
    }

    input {
        border: 1px solid #ccc;
        border-right: 0;
        padding: 5px 10px;
        width: 300px;
    }

    button {
        background-color: #435652;
        color: $light-grey;
        padding: 5px 15px;
    }
}

@media (max-width: 992px) {
    .sub-img {
        display: none;
    }

    .sub-content {
        width: 100%;
        justify-content: center;
        padding: 50px 20px;

        h3 {
            color: #435652;
            font-weight: bold;
            font-size: 28px;
            margin-bottom: 5px;
        }

        h4 {
            margin-bottom: 25px;
            font-size: 18px;
            color: #a5a5a5;
        }
    }

    .sub-form {
        input {
            border: 1px solid #ccc;
            border-right: 0;
            padding: 5px 10px;
            width: 100%;
        }

        button {
            background-color: #435652;
            color: $light-grey;
            padding: 5px 15px;
        }
    }
}

/* Testimonials */

.testimonials {
    text-align: center;
    background-color: #fff;
    padding: 50px 0;

    .testi-slider {
        position: relative;
    }

    .testi-slider-controls {
        position: absolute;
        bottom: 30px;
        left: 0;
        right: 130px;
        z-index: 2;

        button {
            background: transparent;
            border-radius: 50%;
            padding: 10px;
            width: 40px;
            height: 40px;
            border: 2px solid #fff;
            color: #fff;
            line-height: 20px;
            transition: all linear 0.2s;
        }
        button:hover {
            background: #fff;
            color: $c1;
        }
    }

    .test-slide {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        img {
            width: 400px;
            height: 400px;
            object-fit: cover;
            margin-top: 70px;
        }

        .slide-text {
            width: 400px;
            height: 400px;
            background-color: #f7f7f7;
            padding: 25px;
            text-align: left;

            p {
                margin-top: -70px;
                font-size: 18px;
            }

            span {
                font-size: 150px;
                margin: 0;
                line-height: 1;
                font-family: Cambria, Cochin, Georgia, Times, "Times New Roman",
                    serif;
            }

            i {
                margin-right: 10px;
                font-weight: lighter;
            }

            .about-client {
                display: inline-block;

                p.client-name {
                    margin: 0;
                    margin-top: 50px;
                    display: inline-block;
                }

                p.client-desc {
                    margin: 0;
                }
            }
        }
    }

    .test-slide:not(.active) {
        display: none;
    }
}

@media (max-width: 799px) {
    .testimonials {
        text-align: center;
        background-color: #fff;
        padding: 50px 0;

        .testi-slider-controls {
            position: relative;
            z-index: 2;
            margin-top: 40px;

            button {
                background: rgb(97, 121, 123, 0.5);
                border-radius: 50%;
                padding: 10px;
                width: 40px;
                height: 40px;
                border: 2px solid #fff;
                color: #fff;
                line-height: 20px;
                transition: all linear 0.2s;
            }
            button:hover {
                background: $c1;
                color: #fff;
            }
        }

        .test-slide {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            img {
                width: 400px;
                height: 400px;
                object-fit: cover;
                margin-top: 0px;
            }
        }
    }
}

/* Footer */

footer {
    padding: 30px 0 0;
    background-color: #f2f2f2;
}

.footer-sec-title {
    color: $c1;
    margin-bottom: 20px;
}

.about-site {
    h3 {
        color: $c1;
        font-weight: bold;
    }
}

.contact-us {
    p {
        margin: 0;
        margin-bottom: 5px;
        padding: 0;
        color: $c1;

        i {
            width: 0;
            margin-right: 30px;
        }
    }

    .social-icons {
        margin-top: 20px;
        font-size: 22px;

        a {
            color: $c1;
            transition: linear 0.1s color;
        }

        a:hover {
            color: #a8a8a8;
        }

        i {
            margin-right: 20px;
        }
    }
}

.about-us {
    ul {
        list-style: none;

        li {
            a {
                text-decoration: none;
                color: #616161;
            }
        }

        li:hover {
            transform: translateX(3px);
        }
    }
}

.latest-news {
    .news-grid {
        display: flex;
        flex-wrap: wrap;

        img {
            width: 50%;
            padding: 5px;
        }
    }
}

.copyrights {
    text-align: center;
    background-color: #eaeaea;
    padding: 10px 0;
    margin-top: 30px;
}
