* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2d2013;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container h1 {
    margin: 30px 0;
}

.flex {
    display: flex;
}

input,
button {
    border: 1px solid #dedede;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 14px;
    padding: 8px 10px;
}

input[type="text"] {
    width: 300px;
}

.search-btn {
    border-left: 0;
    border-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
}

.random-btn {
    margin-left: 10px;
    cursor: pointer;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.meals {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
}

.meal {
    cursor: pointer;
    position: relative;
    height: 180px;
    width: 180px;
    text-align: center;
}

.meal img {
    width: 100%;
    height: 100%;
    border: 4px #fff solid;
    border-radius: 2px;
}

.meal-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s ease-in;
    opacity: 0;
    padding: 10px;
}

.meal:hover .meal-info {
    opacity: 1;
}

#result-heading h2 {
    margin-top: 20px;
}

.instructions {
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 20px;
}

#single-meal h2 {
    margin-top: 30px;
    margin-bottom: 10px;
}

#single-meal h3 {
    margin-top: 50px;
    margin-bottom: 25px;
}

#single-meal img {
    margin-bottom: 10px;
}

ul {
    text-align: left;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

ul li {
    background-color: #fff;
    color: #2d2013;
    margin: 5px;
    padding: 10px;
    border-radius: 4px;
}