/* Header Start */

.header {
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-nav {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0, 1), rgba(255,255,255,0));
}


.main-nav li a {
    color: #fff !important;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    margin: 0 20px;
    font-weight: 500;
    font-size: 18px;
    transition: all ease-in-out 0.2s;
}

.main-nav li a:hover {
    background-color: #f64b3c;
    border-radius: 60px;
    
}

.news {
    color: #fff;
    padding: 80px 0;
}

.news h1 {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 70px;
}

.news a {
    background-color: #f64b3c;
    color: #fff;
    padding: 10px 50px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 200px;
    margin-top: 20px;
}
/* Header End */



/* Our Chef Start */

.our-chef {
    padding: 50px 0;
    text-align: center;
    background-color: #f6eedf;
}

.our-chef h2 {
    font-weight: bold;
    color: #f64b3c;
    font-size: 48px;
    margin-bottom: 20px;
}

.our-chef p {
    width: 50%;
    margin: 0 auto;
    color: #f64b3c;
    margin-bottom: 20px;
}

.chef-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    flex-wrap: wrap;
}

.chef-card img {
    border-radius: 50%;
    width: 240px;
}

.chef-card h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #f64b3c;
    text-transform: uppercase;
    font-size: 26px;
}

.chef-card p {
    font-weight: 600;
    color: #f64b3c;
    text-transform: uppercase;
}

/* Chef End */


/*  Best-burger Start */

.best-burger {
    padding: 80px 0;
    background-color: #f64b3c;
    color: #fff;
}

.best-burger img {
    border-radius: 50%;
    width: 100%;
}

.best-burger-right {
    padding: 80px 20px;
}

.best-burger-right h2 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
}

.best-burger-right button {
    background-color: #fff;
    color: #f64b3c;
    padding: 10px 50px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 200px;
    margin-top: 20px;
}

/* Best Burger End */


/*  Big-burger Start */

.big-burger {
    padding: 80px 20px;
    background-color: #f6eedf;
    color: #f64b3c;
}

.big-burger img {
    border-radius: 50%;
    width: 100%;
}

.big-burger-left {
    padding: 80px 0;
}

.big-burger-left h2 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
}

.big-burger-left button {
    background-color: #f64b3c;
    color: #fff;
    padding: 10px 50px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 200px;
    margin-top: 20px;
}

/* Big Burger End */



/* Statistics Start */

.stats {
    background-color: #f64b3c;
    color: #fff;
    text-align: center;
    padding: 80px 0 120px;
}

.stats h2 {
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: bold;
}

.stats p {
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
}

.stats-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.stat-card {
    border: 2px solid #fff;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.stat-card span:nth-child(1) {
    font-size: 44px;
    font-weight: 800;
}

.stat-card span:nth-child(2) {
    font-size: 28px;
    font-weight: 600;
}

/* Statistics End */

/* Packages Start */

.packages {
    background-color: #f6eedf;
    padding: 80px 0;
}

.packages h2 {
    text-align: center;
    color: #f64b3c;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 50px;
}

.packages .card {
    background-color: #f64b3c;
    color: #fff;
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.card svg {
    font-size: 100px;
    color: #fff;
    margin-bottom: 20px;
}

.card h5 {
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.card h6 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

.card .btn {
    background-color: #fff;
    width: 100%;
    color: #f64b3c;
    padding: 10px 0;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 200px;
    margin-top: 20px;
}

/* Packages End */

/* Quote Start */

.quote {
    padding: 200px 0;
    text-align: center;
    background-image: url(../images/bg2.jpg);
    background-size: cover;
    position: relative;
    color: #fff;
}

.quote .transparent {
    background-color: rgba(246, 76, 60, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.quote p {
    font-size: 20px;
    width: 70%;
    margin: auto;
    margin-bottom: 30px;
    position: relative;
    z-index: 20;
}

.quote h3 {
    font-size: 24px;
    font-weight: bold;
    position: relative;
    z-index: 20;
}

/* Quote End */


/* Subscribe start */

.subscribe {
    text-align: center;
    padding: 80px 0;
    background-color: #f6eedf;
}

.subscribe h2 {
    color: #f64b3c;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 30px;
}

.subscribe p {
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
    font-size: 16px;
    color: #f64b3c;
    margin-bottom: 10px;
}

.subscribe form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.subscribe form input {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: 1px solid #b1b1b1;
    border-right: 0;
    width: 50%;
    padding: 20px;
}

.subscribe form button {
    padding: 0 40px;
    height: 66px;
    background-color: #f64b3c;
    color: #fff;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 1px solid #b1b1b1;
    border-left: 0;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
}

@media (max-width: 767px) {
    .subscribe form input {
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        border: 1px solid #b1b1b1;
        width: 90%;
        margin-bottom: 20px;
    }

    .subscribe form button {
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        border: 1px solid #b1b1b1;
    }
}

/* Subscribe End */


/* Footer Start */

.footer {
    background-color: #222222;
    padding: 100px 0;
    color: #fff;
}

.footer h2,h3 {
    margin-bottom: 20px;
    font-weight: 600;
}

.social-icons a {
    margin-right: 20px;
    font-size: 24px;
}

.footer a {
    color: #fff;
}

.footer .row div {
    margin-bottom: 30px;
}

/* Footer End */